header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ad0;
}
.top-nav ul li{
    list-style-type: none;
    display: inline-block;
}

.top-nav a{
    text-decoration: none;
    color: #56af91;
    padding: 12px 20px;

}

.logo {
    height: 48px;
}

